#app{
    border: 2px solid #000;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
}
.header-basic {
    background-color: #000;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
    padding: 20px 40px;
    height: 80px;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

.header-basic .header-limiter {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

/* Logo */

.header-basic .header-limiter h1 {
    float: left;
    line-height: 40px;
    margin: 0;
}

.header-basic .header-limiter h1 span {
    color: #5383d3;
}

/* The header links */

.header-basic .header-limiter a {
    color: #ffffff;
    text-decoration: none;
}

.header-basic .header-limiter nav{
    font-family: 'Inconsolata', monospace;
    line-height: 40px;
    float: right;
}

.header-basic .header-limiter nav a{
    display: inline-block;
    padding: 0 5px;
    text-decoration:none;
    color: #ffffff;
    font-size: 16px;
    opacity: 0.9;
}

.header-basic .header-limiter nav a:hover{
    background-color: #fff;
    color: #1766e8;
}

.header-basic .header-limiter nav a.selected {
    color: #608bd2;
    pointer-events: none;
    opacity: 1;
}

body {
    margin:0;
    padding:0;
    font-family: 'Inconsolata', monospace;
}
#txtEmail , #txtPassword{
    border-radius: 2px;
}
.btn {
    display: inline-block;
    color: #fff;
    font-size: 70px;
    width: 100px;
    height: 100px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    transition: .4s;
    position: fixed;
    bottom: 10px;
    right: 10px;  
    margin-left: auto;
    margin-right: auto; 
}
#newpost {
    border: 2px solid #7d8ca3;
    border-radius: 3px;
    margin-top: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-bottom: 10px;
}
#createart {
    padding-top: 23px;
    padding-right: 20px;
}
#postTable{
    border:2px solid #7d8ca3;
    border-radius: 2px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

#tableHeader{
    background-color: #528ff2;
    padding-right: 5px;

}

table td + td {
    border-left: 2px solid black;

}

#app input {
    border-radius: 1px;
    border: 0.5px solid #000;
}